<style>

          body {
            position: relative;
            margin: 0 auto;
            font-family: Montserrat, sans-serif;
          }

          .container-fluid {
            margin: 0 auto;
          }

          h1 {
            font-weight: bold;
            font-size: 3.75em;
            color: #ee6052;
            margin-top: 50px;
          }

          #error {
            font-size: 10em;
          }

          img.displayed {
            display: block;
            margin-left: auto;
            margin-right: auto;
            height: 50%;
            width: 50%;
          }

          .footer {
            margin-top: 50px;
            padding: 10px;
            background: #595859;
            color: #fff;
            text-align: center;
          }

          @media (max-width: 980px) {
            #error {
              text-align: center;
              font-size: 12em;
            }

            img.displayed {
              height: 20%;
              width: 20%;
            }
          }
          @media (max-width: 320px) {
            #error {
              text-align: center;
              font-size: 11em;
            }

            img.displayed {
              height: 30%;
              width: 30%;
            }
          }

      </style>